@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --red-color: #ce2713;
  --yellow-color: #ffb901;
  --maroon-color: #460b0e;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'lato', sans-serif;
}

#header {
  width: 100%;
  height: 228px;
  display: flex;
  align-items: center;
  border-style: solid;
  border-width: 0px 0px 48px 0px;
  border-color: var(--red-color);
}

#logo-container {
  height: 100%;
  width: 20%;
  display: flex;
  margin-left: 5%;
}
#logo-container img {
  height: 100%;
  margin: auto;
}

#navigation-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  width: 80%;
  height: 100%;
  padding-right: 5%;
}

#navigation li {
  display: inline-block;
  font-size: 18px;
  font-family: 'lato', sans-serif;
  font-weight: 700;
  letter-spacing: 5px;
  text-transform: uppercase;
  padding: 0 32px;
  transition: color 0.25s;
}
#navigation li:hover {
  color: var(--red-color);
}

#order-button {
  display: inline-block;
  width: 400px;
  font-size: 18px;
  font-family: 'lato', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: var(--red-color);
  border: none;
  border-radius: 48px;
  color: #fff;
  padding: 16px 96px;
  margin-left: 32px;
  transition: scale 0.5s;
}
#order-button:hover,
button:hover {
  scale: 1.05;
}

#hero-image {
  background-color: #1c1c1c;
  background-image: url(home-hero-image.jpg);
  background-position: center;
  background-size: auto;
  color: #fff;
  height: 850px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 128px;
}

#hero-title-container,
#beer-title-container {
  display: flex;
  flex-direction: column;
  width: min-content;
}

#top-title,
#sub-title,
#beer-top-title,
#beer-sub-title,
.about-us-grid h3 {
  font-family: 'Arvo', sans-serif;
  font-weight: 700;
  text-transform: capitalize;
  display: inline-block;
}

#top-title,
#beer-top-title {
  font-size: 120px;
  text-transform: uppercase;
  border-top: 32px;
  border-style: solid none none none;
  border-color: var(--yellow-color);
}

#sub-title,
#beer-sub-title,
.about-us-grid h3 {
  font-size: 48px;
  text-transform: uppercase;
  margin-bottom: 32px;
}

.button {
  display: inline-block;
  width: 420px;
  font-size: 18px;
  font-family: 'lato', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: var(--red-color);
  border: none;
  border-radius: 48px;
  color: #fff;
  padding: 16px 96px;
  transition: scale 0.5s;
}

/* 2. Burger of the Month Section */
#botm-section {
  height: 723px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 64px;
}

#botm-section h2 {
  font-family: 'arvo', sans-serif;
  font-size: 48px;
  text-transform: uppercase;
  text-align: center;
  display: block;
  color: var(--maroon-color);
}
#botm-section p {
  font-size: 24px;
  text-align: center;
  padding-bottom: 64px;
}
/* 2.a Burger of the Month Cards */
#botm-container {
  width: 100%;
  display: flex;
  margin: auto;
  justify-content: space-between;
}
.botm-card {
  min-height: 440px;
  width: 30%;
  border-top: 32px;
  border-style: solid none none none;
  border-color: var(--red-color);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
  box-shadow: 0px 6px 10px 2px rgba(99, 39, 39, 0.1);
  transition: all 0.5s;
}
.botm-card:hover {
  scale: 1.05;
  box-shadow: 0px 6px 10px 2px rgba(0, 0, 0, 0.2);
}
#botm-1 {
  background-image: url(botm-images-1.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
#botm-2 {
  background-image: url(botm-images-2.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
#botm-3 {
  background-image: url(botm-images-3.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.burger-name {
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 84px;
}
.burger-name h3 {
  font-family: 'arvo', sans-serif;
  font-size: 32px;
  text-align: center;
  text-transform: uppercase;
  color: var(--yellow-color);
}

/* 3. Beer Promotion Section */
#beer-promotion-section {
  background-color: #f0f0f0;
  background-image: url(beer-hero-image.jpg);
  background-position: center;
  background-size: auto;
  color: #fff;
  height: 850px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  padding: 128px;
}

#beer-top-title,
#beer-sub-title {
  color: var(--maroon-color);
}

/* 4. About Us Section */
#about-us-section {
  min-height: 675px;
  padding: 64px;
}
.about-us-grid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  align-items: center;
}
#about-us-headline,
#about-us-sub-headline {
  text-align: center;
  color: var(--maroon-color);
}
#about-us-body {
  text-align: center;
}
#about-us-button {
  margin: auto;
}
