@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --red-color: #ce2713;
  --yellow-color: #ffb901;
  --maroon-color: #460b0e;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'lato', sans-serif;
}

#header {
  width: 100%;
  height: 228px;
  display: flex;
  align-items: center;
  border-style: solid;
  border-width: 0px 0px 48px 0px;
  border-color: var(--red-color);
}

#logo-container {
  width: 10%;
  padding-left: 5%;
}

#navigation-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  width: 90%;
  height: 100%;
  padding-right: 5%;
}

#navigation li {
  display: inline-block;
  font-size: 18px;
  font-family: 'lato', sans-serif;
  font-weight: 300;
  letter-spacing: 5px;
  text-transform: uppercase;
  padding: 0 32px;
}

#order-button {
  display: inline-block;
  width: 400px;
  font-size: 18px;
  font-family: 'lato', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: var(--red-color);
  border: none;
  border-radius: 48px;
  color: #fff;
  padding: 16px 96px;
  margin-left: 32px;
}

#hero-image {
  background-color: #1c1c1c;
  background-image: url(home-hero-image.jpg);
  background-position: center;
  background-size: auto;
  color: #fff;
  height: 850px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 128px;
}

#hero-title-container {
  display: flex;
  flex-direction: column;
  width: min-content;
}

#top-title,
#sub-title {
  font-family: 'Arvo', sans-serif;
  font-weight: 700;
  text-transform: capitalize;
  display: inline-block;
}

#top-title {
  font-size: 120px;
  border-top: 32px;
  border-style: solid none none none;
  border-color: var(--yellow-color);
}

#sub-title {
  font-size: 48px;
  margin-bottom: 32px;
}

#hero-button {
  display: inline-block;
  width: 400px;
  font-size: 18px;
  font-family: 'lato', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: var(--red-color);
  border: none;
  border-radius: 48px;
  color: #fff;
  padding: 16px 96px;
}

/* 2. Burger of the Month Section */
#botm-section {
  height: 723px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 64px;
}

#botm-section h2 {
  font-family: 'arvo', sans-serif;
  font-size: 48px;
  text-transform: uppercase;
  text-align: center;
  display: block;
  color: var(--maroon-color);
}
#botm-section p {
  font-size: 24px;
  text-align: center;
  padding-bottom: 64px;
}
/* 2.a Burger of the Month Cards */
#botm-container {
  width: 100%;
  display: flex;
  margin: auto;
  justify-content: space-between;
}
.botm-card {
  min-height: 440px;
  width: 30%;

  border-top: 32px;
  border-style: solid none none none;
  border-color: var(--red-color);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
}
#botm-1 {
  background-image: url(botm-images-1.jpg);
  background-position: center center;
  background-size: auto;
}
#botm-2 {
  background-image: url(botm-images-2.jpg);
  background-position: center center;
  background-size: auto;
}
#botm-3 {
  background-image: url(botm-images-3.jpg);
  background-position: center center;
  background-size: auto;
}

.burger-name {
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 84px;
}
.burger-name h3 {
  font-family: 'arvo', sans-serif;
  font-size: 32px;
  text-align: center;
  text-transform: uppercase;
  color: var(--yellow-color);
}
